In [19]:
from pathlib import Path
import pandas as pd
import xml.etree.ElementTree as ET

In [20]:
PATH = Path('/home/jovyan/work/Downloads')
hr_data = 'MYZONE_Activity.csv'
gpx_file = 'Morning_Ride.gpx'
tcx_file = 'Morning_Ride.tcx'
tcx_file_smpl = 'Morning_Ride (1).tcx'
tcx_file_v2 = 'Morning_Ride_v2.tcx'

#### Load in heart rate data
This gets resampled to milliseconds with fill forward so that it can be joined to the tcx data, which is in milliseconds. Probably a more elegant way to do this, but this gets the job done.

In [21]:
hr_df = pd.read_csv(PATH/hr_data, skiprows=3)
hr_df.Time = pd.to_datetime(hr_df.Time) + pd.Timedelta('7 hours')
hr_df = hr_df.set_index('Time')
hr_df = hr_df.resample('L').ffill()
hr_df

                         hr
Time
2018-09-30 13:58:00.000  77
2018-09-30 13:58:00.001  77
2018-09-30 13:58:00.002  77
2018-09-30 13:58:00.003  77
2018-09-30 13:58:00.004  77
2018-09-30 13:58:00.005  77
2018-09-30 13:58:00.006  77
2018-09-30 13:58:00.007  77
2018-09-30 13:58:00.008  77
2018-09-30 13:58:00.009  77
2018-09-30 13:58:00.010  77
2018-09-30 13:58:00.011  77
2018-09-30 13:58:00.012  77
2018-09-30 13:58:00.013  77
2018-09-30 13:58:00.014  77
2018-09-30 13:58:00.015  77
2018-09-30 13:58:00.016  77
2018-09-30 13:58:00.017  77
2018-09-30 13:58:00.018  77
2018-09-30 13:58:00.019  77
2018-09-30 13:58:00.020  77
2018-09-30 13:58:00.021  77
2018-09-30 13:58:00.022  77
2018-09-30 13:58:00.023  77
2018-09-30 13:58:00.024  77
2018-09-30 13:58:00.025  77
2018-09-30 13:58:00.026  77
2018-09-30 13:58:00.027  77
2018-09-30 13:58:00.028  77
2018-09-30 13:58:00.029  77
...                      ..
2018-09-30 19:47:59.971  61
2018-09-30 19:47:59.972  61
2018-09-30 19:47:59.973  61
2018-09-30 19:47:59.974  61
2018-09-30 19:47:59.975  61
2018-09-30 19:47:59.976  61
2018-09-30 19:47:59.977  61
2018-09-30 19:47:59.978  61
2018-09-30 19:47:59.979  61
2018-09-30 19:47:59.980  61
2018-09-30 19:47:59.981  61
2018-09-30 19:47:59.982  61
2018-09-30 19:47:59.983  61
2018-09-30 19:47:59.984  61
2018-09-30 19:47:59.985  61
2018-09-30 19:47:59.986  61
2018-09-30 19:47:59.987  61
2018-09-30 19:47:59.988  61
2018-09-30 19:47:59.989  61
2018-09-30 19:47:59.990  61
2018-09-30 19:47:59.991  61
2018-09-30 19:47:59.992  61
2018-09-30 19:47:59.993  61
2018-09-30 19:47:59.994  61
2018-09-30 19:47:59.995  61
2018-09-30 19:47:59.996  61
2018-09-30 19:47:59.997  61
2018-09-30 19:47:59.998  61
2018-09-30 19:47:59.999  61
2018-09-30 19:48:00.000  70

[21000001 rows x 1 columns]

#### Parse the txc file to get the times for each track point

In [22]:
tree = ET.parse(PATH/tcx_file)
root = tree.getroot()

In [23]:
tcx_times = []
for child in root[0][0][1][-1]:
    tcx_times.append(child[0].text)

#### Create a dataframe of the times and merge with the hr dataframe.

In [24]:
tcx_df = pd.DataFrame(tcx_times, columns=['Time'])
tcx_df = pd.DataFrame(pd.to_datetime(tcx_df.Time))
tcx_hr_df = tcx_df.merge(hr_df, how='left', on='Time')
tcx_hr_df

                     Time   hr
0     2018-09-30 14:02:17   62
1     2018-09-30 14:03:50   55
2     2018-09-30 14:04:49   62
3     2018-09-30 14:08:08   84
4     2018-09-30 14:08:09   84
5     2018-09-30 14:08:11   84
6     2018-09-30 14:08:14   84
7     2018-09-30 14:08:15   84
8     2018-09-30 14:08:16   84
9     2018-09-30 14:08:17   84
10    2018-09-30 14:08:18   84
11    2018-09-30 14:08:19   84
12    2018-09-30 14:08:20   84
13    2018-09-30 14:08:21   84
14    2018-09-30 14:08:22   84
15    2018-09-30 14:08:23   84
16    2018-09-30 14:08:24   84
17    2018-09-30 14:08:25   84
18    2018-09-30 14:08:26   84
19    2018-09-30 14:08:27   84
20    2018-09-30 14:08:28   84
21    2018-09-30 14:08:29   84
22    2018-09-30 14:08:30   84
23    2018-09-30 14:08:31   84
24    2018-09-30 14:08:32   84
25    2018-09-30 14:08:33   84
26    2018-09-30 14:08:34   84
27    2018-09-30 14:08:35   84
28    2018-09-30 14:08:36   84
29    2018-09-30 14:08:37   84
...                   ...  ...
16305 2018-09-30 19:22:53  103
16306 2018-09-30 19:22:54  103
16307 2018-09-30 19:22:55  103
16308 2018-09-30 19:22:56  103
16309 2018-09-30 19:22:57  103
16310 2018-09-30 19:22:58  103
16311 2018-09-30 19:22:59  103
16312 2018-09-30 19:23:00  124
16313 2018-09-30 19:23:01  124
16314 2018-09-30 19:23:02  124
16315 2018-09-30 19:23:03  124
16316 2018-09-30 19:23:04  124
16317 2018-09-30 19:23:05  124
16318 2018-09-30 19:23:06  124
16319 2018-09-30 19:23:07  124
16320 2018-09-30 19:23:08  124
16321 2018-09-30 19:23:09  124
16322 2018-09-30 19:23:10  124
16323 2018-09-30 19:23:11  124
16324 2018-09-30 19:23:12  124
16325 2018-09-30 19:23:13  124
16326 2018-09-30 19:23:14  124
16327 2018-09-30 19:23:15  124
16328 2018-09-30 19:23:16  124
16329 2018-09-30 19:23:17  124
16330 2018-09-30 19:23:18  124
16331 2018-09-30 19:23:20  124
16332 2018-09-30 19:23:21  124
16333 2018-09-30 19:23:32  124
16334 2018-09-30 19:23:51  124

[16335 rows x 2 columns]

#### Add in a time delta so that Strava doesn't think it's a duplicate
This is so you can upload it and review it online to make sure everything looks ok before deleting the original activity and creating the file with the original time stamps.

In [25]:
tcx_hr_df['Time1'] = tcx_hr_df.Time + pd.Timedelta('7 hours')

In [26]:
tcx_hr_df

                     Time   hr               Time1
0     2018-09-30 14:02:17   62 2018-09-30 21:02:17
1     2018-09-30 14:03:50   55 2018-09-30 21:03:50
2     2018-09-30 14:04:49   62 2018-09-30 21:04:49
3     2018-09-30 14:08:08   84 2018-09-30 21:08:08
4     2018-09-30 14:08:09   84 2018-09-30 21:08:09
5     2018-09-30 14:08:11   84 2018-09-30 21:08:11
6     2018-09-30 14:08:14   84 2018-09-30 21:08:14
7     2018-09-30 14:08:15   84 2018-09-30 21:08:15
8     2018-09-30 14:08:16   84 2018-09-30 21:08:16
9     2018-09-30 14:08:17   84 2018-09-30 21:08:17
10    2018-09-30 14:08:18   84 2018-09-30 21:08:18
11    2018-09-30 14:08:19   84 2018-09-30 21:08:19
12    2018-09-30 14:08:20   84 2018-09-30 21:08:20
13    2018-09-30 14:08:21   84 2018-09-30 21:08:21
14    2018-09-30 14:08:22   84 2018-09-30 21:08:22
15    2018-09-30 14:08:23   84 2018-09-30 21:08:23
16    2018-09-30 14:08:24   84 2018-09-30 21:08:24
17    2018-09-30 14:08:25   84 2018-09-30 21:08:25
18    2018-09-30 14:08:26   84 2018-09-30 21:08:26
19    2018-09-30 14:08:27   84 2018-09-30 21:08:27
20    2018-09-30 14:08:28   84 2018-09-30 21:08:28
21    2018-09-30 14:08:29   84 2018-09-30 21:08:29
22    2018-09-30 14:08:30   84 2018-09-30 21:08:30
23    2018-09-30 14:08:31   84 2018-09-30 21:08:31
24    2018-09-30 14:08:32   84 2018-09-30 21:08:32
25    2018-09-30 14:08:33   84 2018-09-30 21:08:33
26    2018-09-30 14:08:34   84 2018-09-30 21:08:34
27    2018-09-30 14:08:35   84 2018-09-30 21:08:35
28    2018-09-30 14:08:36   84 2018-09-30 21:08:36
29    2018-09-30 14:08:37   84 2018-09-30 21:08:37
...                   ...  ...                 ...
16305 2018-09-30 19:22:53  103 2018-10-01 02:22:53
16306 2018-09-30 19:22:54  103 2018-10-01 02:22:54
16307 2018-09-30 19:22:55  103 2018-10-01 02:22:55
16308 2018-09-30 19:22:56  103 2018-10-01 02:22:56
16309 2018-09-30 19:22:57  103 2018-10-01 02:22:57
16310 2018-09-30 19:22:58  103 2018-10-01 02:22:58
16311 2018-09-30 19:22:59  103 2018-10-01 02:22:59
16312 2018-09-30 19:23:00  124 2018-10-01 02:23:00
16313 2018-09-30 19:23:01  124 2018-10-01 02:23:01
16314 2018-09-30 19:23:02  124 2018-10-01 02:23:02
16315 2018-09-30 19:23:03  124 2018-10-01 02:23:03
16316 2018-09-30 19:23:04  124 2018-10-01 02:23:04
16317 2018-09-30 19:23:05  124 2018-10-01 02:23:05
16318 2018-09-30 19:23:06  124 2018-10-01 02:23:06
16319 2018-09-30 19:23:07  124 2018-10-01 02:23:07
16320 2018-09-30 19:23:08  124 2018-10-01 02:23:08
16321 2018-09-30 19:23:09  124 2018-10-01 02:23:09
16322 2018-09-30 19:23:10  124 2018-10-01 02:23:10
16323 2018-09-30 19:23:11  124 2018-10-01 02:23:11
16324 2018-09-30 19:23:12  124 2018-10-01 02:23:12
16325 2018-09-30 19:23:13  124 2018-10-01 02:23:13
16326 2018-09-30 19:23:14  124 2018-10-01 02:23:14
16327 2018-09-30 19:23:15  124 2018-10-01 02:23:15
16328 2018-09-30 19:23:16  124 2018-10-01 02:23:16
16329 2018-09-30 19:23:17  124 2018-10-01 02:23:17
16330 2018-09-30 19:23:18  124 2018-10-01 02:23:18
16331 2018-09-30 19:23:20  124 2018-10-01 02:23:20
16332 2018-09-30 19:23:21  124 2018-10-01 02:23:21
16333 2018-09-30 19:23:32  124 2018-10-01 02:23:32
16334 2018-09-30 19:23:51  124 2018-10-01 02:23:51

[16335 rows x 3 columns]

In [27]:
new_start = str(tcx_hr_df.Time1[0]).replace(' ', 'T') + 'Z'
new_start

'2018-09-30T21:02:17Z'

#### Look at file with heart rate data to get xml tags for heart rate data

In [28]:
tree_smpl = ET.parse(PATH/tcx_file_smpl)
root_smpl = tree_smpl.getroot()

In [29]:
for child in root_smpl[0][0][1][-1][0]:
    print(child.tag, child.attrib, child.text)

{http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2}Time {} 2018-09-29T14:39:28Z
{http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2}Position {}

{http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2}AltitudeMeters {} 47.8
{http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2}DistanceMeters {} 0.0
{http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2}HeartRateBpm {}

{http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2}Extensions {}

In [30]:
hr_tag = 'HeartRateBpm'
hr_val_tag = 'Value'
ext_tag = 'Extensions'
avg_hr_tag = 'AverageHeartRateBpm'
max_hr_tag = 'MaximumHeartRateBpm '

#### Calculate mean and max heart rate

In [31]:
print(f'mean hr: {int(round(tcx_hr_df.hr.mean(),0))}')
print(f'max hr: {int(round(tcx_hr_df.hr.max(),0))}')

mean hr: 125
max hr: 160

In [32]:
tree = ET.parse(PATH/tcx_file)
root = tree.getroot()
def reg_ns():
    attr_qname = ET.QName('http://www.w3.org/2001/XMLSchema-instance', 'schemaLocation')
    ET.register_namespace('', 'http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2')
    # ET.register_namespace('ns5', 'http://www.garmin.com/xmlschemas/ActivityGoals/v1')
    # ET.register_namespace('', 'http://www.garmin.com/xmlschemas/ActivityExtension/v2')
    # ET.register_namespace('ns2', 'http://www.garmin.com/xmlschemas/UserProfile/v2')
    ET.register_namespace('xsi', 'http://www.w3.org/2001/XMLSchema-instance')
reg_ns()

#### Insert mean and max heart rates as children of Lap

In [33]:
Lap = root[0][0][1]
el = ET.Element(avg_hr_tag, attrib={})
el.text='\n' + ' '*5
el.tail='\n' + ' '*4
sub_el = ET.SubElement(el, hr_val_tag)
sub_el.text = str(int(round(tcx_hr_df.hr.mean(),0)))
sub_el.tail = '\n' + ' '*4
Lap.insert(4, el)

el = ET.Element(max_hr_tag, attrib={})
el.text='\n' + ' '*5
el.tail='\n' + ' '*4
sub_el = ET.SubElement(el, hr_val_tag)
sub_el.text = str(int(round(tcx_hr_df.hr.max(),0)))
sub_el.tail = '\n' + ' '*4
Lap.insert(4, el)

#### Insert heart rate as child of each Trackpoint

In [34]:
use_time_delta = False

for i, child in enumerate(root[0][0][1][-1]):
    el = ET.Element(hr_tag, attrib={})
    el.text='\n' + ' '*6
    el.tail='\n' + ' '*5
    sub_el = ET.SubElement(el, hr_val_tag, attrib={})
    sub_el.text = text=str(tcx_hr_df.hr[i])
    sub_el.tail = '\n' + ' '*6
    child.insert(-2, el)
    if use_time_delta: # set this to True to use the 
        child[0].text = str(tcx_hr_df.Time1[i]).replace(' ', 'T') + 'Z'

#### Update Id and Start Time

In [35]:
if use_time_delta:
    root[0][0][0].text = new_start
    root[0][0][1].set('StartTime', new_start)

#### Write Modified File
This file can then be uploaded to Strava at http://www.strava.com/upload/select. Keep in mind that if you delete the original activity you will lose all Comments and Kudos you've received on that ride or run.

In [36]:
tree.write(PATH/tcx_file_v2, xml_declaration=True, encoding='UTF-8')